body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;

  /* Apply the animation properties directly to the body */
  animation: color-change 30s infinite alternate;
}
/* @keyframes color-change {
  0% {
    background-color: #ff0000;
  }
  10% {
    background-color: #ff7b00;
  }
  20% {
    background-color: #ffc400;
  }
  30% {
    background-color: #ffee00;
  }
  40% {
    background-color: #d9ff00;
  }
  50% {
    background-color: #91ff00;
  }
  60% {
    background-color: #2bff00;
  }
  70% {
    background-color: #00ff95;
  }
  80% {
    background-color: #00f7ff;
  }
  90% {
    background-color: #00a2ff;
  }
  100% {
    background-color: #0077ff;
  }
} 
rainbow colors */

/* @keyframes color-change {
  0% {
    background-color: #000080;
  }
  10% {
    background-color: #191970;
  }
  20% {
    background-color: #483D8B;
  }
  30% {
    background-color: #4B0082;
  }
  40% {
    background-color: #8A2BE2;
  }
  50% {
    background-color: #4169E1;
  }
  60% {
    background-color: #008080;
  }
  70% {
    background-color: #008B8B;
  }
  80% {
    background-color: #5F9EA0;
  }
  90% {
    background-color: #2F4F4F;
  }
  100% {
    background-color: #00BFFF;
  }
} 
Ocean/cold colors */

@keyframes color-change {
  0% {
    background-color: #ffd900be;
  }
  100% {
    background-color: #ffd900be;
  }
}

button {
  padding: 1% 2%; /*15px 30px*/
  min-width: 20vw;
  min-height: 30vh;
  font-size: 10em; /*18px*/
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 10px; /*10px*/
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /*4px 6px*/
  transition: background-color 0.3s ease;
}

input {
  height: 7%;
  width: 65%;
  font-size: 4.5em;
  font-family: sans-serif;
  padding: 1%;
  margin-bottom: 1%;
  border: none;
  border-radius: 10px;
}

h1 {
  /* background-color: #9dcf15; */
  font-size: 9vw;
  margin-bottom: 2%;
}

label {
  width: 60%;
  height: 7%;
  background-color:#ffffff;
  font-size: 4em;
  text-align: center;
  padding: 0.5%;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  width: 50%;
  font-size: 400%;
  margin-bottom: 1%;
}

/*button:hover {
  background-color: #45a049;
}*/

.color-green {
    background-color: #4CAF50;
}

.color-blue {
    background-color: #007BFF;
}

/*#message {
  margin-top: 20px;
  font-size: 20px;
  color: black
}*/